{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Forgot Password</title>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
<link rel="icon" href="{% static 'images/nexgen_crm2.png' %}">
<link rel="stylesheet" href="{%static 'css/login-style.css'%}">

</head>

<body>
<div class="container">

    <div class="left-section">
        <div class="left-overlay">
            <h1>Password Recovery</h1>
            <p>We’ll help you regain access</p>
        </div>
    </div>

    <div class="right-section">
        <img src="{% static 'images/nexgen_crm2.png' %}" class="d-block mx-auto w-40">

        <h2>Forgot Password</h2>
        <p>Enter your registered email address</p>

        {% if messages %}
        <div class="toast-container">
            {% for message in messages %}
                <div class="custom-toast {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" placeholder="Enter registered email" required>
                <i class="fas fa-envelope pt-4"></i>
            </div>

            <button class="btn-login">Send Reset Link</button>
        </form>

        <a href="{% url 'login' %}" class="forgot-password mt-3">Back to Login</a>
    </div>
</div>
</body>
</html>
