{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Reset Password</title>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
<link rel="icon" href="{% static 'images/nexgen_crm2.png' %}">
<link rel="stylesheet" href="{%static 'css/login-style.css'%}">
</head>

<body>
<div class="container">

    <div class="left-section">
        <div class="left-overlay">
            <h1>Set New Password</h1>
            <p>Choose a strong password</p>
        </div>
    </div>

    <div class="right-section">
        <img src="{% static 'images/nexgen_crm2.png' %}" class="d-block mx-auto w-40">

        <h2>Reset Password</h2>

        {% if messages %}
        <div class="toast-container">
            {% for message in messages %}
                <div class="custom-toast {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label>New Password</label>
                <input type="password" name="password" required>
                <i class="fas fa-lock"></i>
            </div>

            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" name="confirm_password" required>
                <i class="fas fa-lock"></i>
            </div>

            <button class="btn-login">Update Password</button>
        </form>
    </div>
</div>
</body>
</html>
